* text=auto

*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sbt text eol=lf
*.scala text eol=lf
*.txt text eol=lf
*.toml text eol=lf
*.ini text eol=lf
*.cfg text eol=lf
*.properties text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.parquet binary
*.delta binary
*.jar binary
*.zip binary
*.whl binary
